.section2 {
background-color: #f8f9fa;
}

.list-group-item {
transition: all 0.3s ease-in-out;
}

.list-group-item:hover, .list-group-item.active {
background-color: #0d6efd;
color: white;
}


.btn-outline-primary:hover {
background-color: #0d6efd;
color: white;
}

#plan-tabs {
display: flex;
overflow-x: auto;
scrollbar-width: none; /* Hide scrollbar for Firefox */
-ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Medium.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}


/* Hide scrollbar for Webkit browsers */
#plan-tabs::-webkit-scrollbar {
display: none;
}


    